/* Footer_First_section styling part start here */
#footer_first_section {
    margin-top: 20px;
    width: 100%;
    margin: auto;
    background-color: #000000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}

#footer_first_section>div {
    text-align: center;
    width: 189px;
    font-family: sans-serif;
    height: 201px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#footer_first_section>div h4 {
    font-size: 16px;

}

#footer_first_section>div p {
    font-size: 12px;
    font-weight: 400;
}

/* accordion which contains coutry logo */

.country_icon {
    display: none;
}

.country_accordion_item h2 {
    width: 150px;

}



.country_logo {
    height: 20px;
    width: 30px;
    margin-right: 10px;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: 600;
}


/* footer second part styling  */

#footer_second_part {
    width: 100%;
    box-sizing: border-box;
    height: 90vh;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a1 a2 a2 a2 a3"
        "a4 a4 a4 a4 a4";
    justify-content: center;

}

/* social media icons styling part */


#icon_main_container {

    grid-area: a1;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#icon_main_container>h4 {
    display: none;
    color: white;

}

#icon_main_container>p {
    display: none;
    color: white;

}

.fab.fa-instagram,
.fab.fa-facebook,
.fab.fa-twitter,
.fab.fa-pinterest,
.fas.fa-envelope,
.fab.fa-linkedin {
    color: white;
    margin-left: 10px;
}

.frankandoak_logo {
    height: 150px;
    width: 150px;
}

/* Info list styling part */

#list_container {
    display: flex;
    justify-content: space-around;
    grid-area: a2;
    margin-top: 50px;

}

#list_container>div h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

#list_container a {
    text-decoration: none;
    color: white;

}


/* Form styling part */

#form_main_container {
    grid-area: a3;
    margin-right: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

}



#form_main_container p {
    font-size: 12px;
}

#email {
    border: 2px solid white;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    background-color: #1f2322;
    margin-bottom: 10px;


}

#name {
    border: 2px solid white;
    width: 100%;
    color: white;
    background-color: #1f2322;
    margin-bottom: 10px;

}


#name::placeholder {
    background-color: #1f2322;
    color: white;
    padding-left: 20px;
}

#email::placeholder {
    background-color: #1f2322;
    color: white;
    padding-left: 20px;
}

#fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
}

#submit::placeholder {
    background-color: white;
    color: white;

}

#submit {
    border: 2px solid white;
    width: 100%;


}




#terms_conditions {
    margin-left: 100px;
    color: white;
    grid-area: a4;
}

/* this is for responsive part */

/* list_container_accordion styling part  */


#list_container_accordion {
    display: none;
    grid-area: a5;

    width: 100%;

}

#list_container_accordion a {
    text-decoration: none;
    color: white;
}

#accordionExample .accordion_bg_black {
    background-color: #000000;
}

#middle_frnakoak_logo {

    grid-area: a6;
    display: none;
    text-align: center;
    color: white;
}

#middle_frnakoak_logo>img {
    width: 150px;
    height: 170px;
}



@media (max-width: 1000px) {
    .country_icon {
        display: block;

    }

    .country_accordion_item h2 {
        width: 100%;

    }

    #footer_second_part {
        /* width: 100%; */
        height: 100%;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "a3"
            "a5"
            "a1"
            "a6"
            "a4";

        gap: 50px;
        margin: auto;
    }

    #list_container_accordion {
        display: block;
    }

    #list_container {
        display: none;
    }



    #icon_main_container {
        margin-left: 0px;
        gap: 20px;
        height: 200px;

    }

    #icon_main_container .frankandoak_logo {
        display: none;
    }

    #icon_main_container>h4 {
        display: block;

    }

    #form_main_container {
        margin-right: 0px;


    }

    #icon_main_container>p {
        display: block;
        font-size: 12px;

    }

    #middle_frnakoak_logo {
        grid-area: a6;
        display: block;

    }

    #terms_conditions {
        margin-left: 0px;
        text-align: center;
    }






}