#sidebar{
    
    position: sticky;
    
   
    
}

@media (min-width: 1440px) {
    .container {
      width: 1320px;
      margin:auto;
  }
}
#body{
    display: flex;
    gap: 20px;
}
#sidebar{
    font-family: sans-serif;
}
#mainContainer{
    
    display: grid;
    gap: 20px;
    justify-content: space-around;
    grid-template-columns: repeat(4,1fr);
}
@media (max-width:1250px){
    #mainContainer{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:750px){
    #mainContainer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:450px){
    #mainContainer{
        grid-template-columns: repeat(1,1fr);
    }
}

.card_list{
    position: relative;
    width: 370px;
    font-family: sans-serif;
    font-weight: 400;
}
.p_img{
    width: 100%;
}

#body{
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

  /* page btn css */
  .pagebtn{
    
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 7px;
  }
  #btnLoadMore{
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: center;
    gap: 10px;
  }
  /* add to cart css */
.add_to_cart{
    left: 6px;
    position: absolute;
    top: 77%;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    border: none;
    width: 97%;
}